footer,section, header{
    padding: 100px 0;
}
.about_section{
    background:url(/media/games/pexels-borja-lopez-1346154.jpg), #f0f9ff;
    background:url(/media/games/pexels-borja-lopez-1346154.jpg),  -moz-linear-gradient(left,  #f0f9ff 0%, #cbebff 47%, #a1dbff 100%);
    background: url(/media/games/pexels-borja-lopez-1346154.jpg), -webkit-linear-gradient(left,  #f0f9ff 0%,#cbebff 47%,#a1dbff 100%);
    background: url(/media/games/pexels-borja-lopez-1346154.jpg), linear-gradient(to right,  #f0f9ff 0%,#cbebff 47%,#a1dbff 100%);
    filter:url(/media/games/pexels-borja-lopez-1346154.jpg),  progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f9ff', endColorstr='#a1dbff',GradientType=1 );
}
/* .games_section{
    padding-top: 150px;
} */
.game_row{
    width: 100%;
    height: 200px;
}
.games_section img{
    max-width: 300px;
    max-height: 300px;
    border-radius: 5%;
}
.container{
    margin-top: 50px;
}

