{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
	<link rel="shortcut icon" href="/media/games/steam.png" type="image/x-icon">
	<link rel="stylesheet" href="{% static 'css/my.css' %}">
    <title>{{ game.name }}</title>
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'main' %}">STEAM CLONE</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarID"
                aria-controls="navbarID" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarID">
                <div class="navbar-nav">
                    <a class="nav-link active" aria-current="page" href="{% url 'main' %}">Главная</a>
                </div>
                <div class="navbar-nav">
                    <a class="nav-link active" aria-current="page" href="{% url 'game_list' %}">Игры</a>
                </div>
                <div class="navbar-nav">
                    <a class="nav-link active" aria-current="page" href="{% url 'about' %}">О нас</a>
                </div>
                <div class="navbar-nav">
                    <a class="nav-link active" aria-current="page" href="{% url 'companys' %}">Компании</a>
                </div>
                <div class="navbar-nav">
                    <a class="nav-link active" aria-current="page" href="{% url 'add_screenshots' %}">Добавить скриншоты к игре</a>
                </div>
            </div>
        </div>
    </nav>
    <section class="game bg-dark">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <h4 class="text-center text-white">{{ game.name }}</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <h4 class="text-center text-white">${{ game.price }}</h4>
                </div>
            </div>
            <div class="row">
                <div class="text-center">
                    <img src="{{ game.main_img.url }}" width="350px" height="350px" class="rounded" alt="...">
                  </div>
            </div>
        </div>
        <br>
        
       <!-- Блок с картинкой -->
       <div class="container">
        <div class="row">
            {% for image in additional_images %}
            <div class="col-md-3 col-sm-12">
                <div class="image-block">
                    <img src="{{ image.img.url }}" alt="Картинка" class="img-thumbnail" width="250px" height="250px" data-bs-toggle="modal" data-bs-target="#{{ image.img.name }}">
                </div>
            </div>
            {% endfor %}
        </div>
       </div>

       {% for image in additional_images %}
  <!-- Модальное окно -->
  <div class="modal fade" id="{{ image.img.name }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{{ game.name }}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <img src="{{ image.img.url }}" width="500px" height="500px" alt="Картинка" class="img-fluid">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
  
    </section>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.10.2/umd/popper.min.js" integrity="sha512-w0/EEWH5CDAq0sIsld2rO9KQJbHUa0uCCrO1vNDbByTgCeGG8MyUzCjB5XeRbIbJkbK61t3SsAlIam1HiChw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha384-KyZXEAg3QhqLMpG8r+RMU9EP3NZdoeD9fIG4zRQfB07XaM9IfmTOd4BMyzvnng9h" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
</html>